.Container {
   -fx-background-color: #121212;
   -fx-alignment: CENTER;
   -fx-spacing: 10;      
}
.Subject {
  -fx-font-size: 40;
  -fx-fill: white;
  -fx-stroke-width: 3;
  -fx-stroke: gold;
}

.Button {
    -fx-background-color: #333333;
    -fx-text-fill: White;
    -fx-pref-Width: 200;
}