.Container {
   -fx-background-color: lightblue;
   -fx-alignment: CENTER;
   -fx-spacing: 10;      
}
.Subject {
  -fx-font-size: 40;
  -fx-fill: red;
  -fx-stroke-width: 3;
  -fx-stroke: gold;
}

.Button {
    -fx-background-color: darkblue;
    -fx-text-fill: White;
    -fx-pref-Width: 200;
}
