.Container {
   -fx-background-color: #FFFFFF;
   -fx-alignment: CENTER;
   -fx-spacing: 10;      
}
.Subject {
  -fx-font-size: 40;
  -fx-fill: #000000;
  -fx-stroke-width: 3;
  -fx-stroke: gold;
}

.Button {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: White;
    -fx-pref-Width: 200;
}